body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
  }
  
  nav {
      border-bottom: 2px solid orange;
  }
  
  ol {
      padding-left: 0;
  }
  
  .crumb {
      margin-right: 2em;
      display: inline;
  }
  
  a {
      color: orange;
  }
  
  a:visited {
      color: crimson;
  }
  
  
  input {
      display: block;
  }

  img {
    height: 250px;
    width: 400px;
}

.box {
    height: 200px;
    width: 400px;
    flex-wrap: wrap;
}

.box4 {
    height: 200px;
    width: 400px;
    flex-wrap: wrap;
}
.box5 {
    height: 200px;
    width: 400px;
    flex-wrap: wrap;
}

.wrapper{
  position: relative;
}
#button{
  border: 5px solid #FFAB33;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  margin: auto;
  background: #FF5733;
}

#button:hover{
    background: #DFF30B;
  }
  
  #message{
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .hide{
    visibility: hidden;
  }
  
  .reveal{
    visibility: visible;
  }